/**/
 .background-image {
      height: 100%;
      width: 100%;
      background-image:url('./images/background.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  .page__background {
  background-color:white;
}
